.save_button {
  outline: none;
  border: none;
  width: 450px;
  height: 60px;
  border-radius: 8px;
  background-color: green;
  color: whitesmoke;
  font-size: 16px;
  margin: 30px 0 40px;
}
.fa-user-lock {
  width: 450px;
  color: darkgray;
  font-size: 16px;
  text-align: center;
}
