.register {
  color: darkgray;

  &_notice {
    text-align: right;
    a {
      color: green;
    }
  }
  &_text {
    padding-top: 120px;
    width: 430px;
    &-title {
      color: black;
      margin-bottom: 10px;
    }
    &-paragraph {
      margin-bottom: 20px;
    }
  }
}
