.page_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: darkgray;
  &-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &-return {
      color: rgb(103, 103, 103);
    }
    &-notice {
      display: flex;
      text-transform: uppercase;
      align-self: flex-end;
    }
  }
  &-name {
    align-self: flex-end;
    font-weight: 600;
  }
  &-text {
    padding-top: 80px;
    width: 430px;
    &-title {
      color: black;
      margin-bottom: 10px;
    }
    &-paragraph {
      margin-bottom: 20px;
    }
  }
}
