.login {
  width: 55vw;
  padding: 70px 70px 70px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: darkgray;

  &_notice {
    align-self: flex-end;
    a {
      color: green;
    }
  }
  &_text {
    padding-top: 120px;
    width: 430px;
    &-title {
      color: black;
      margin-bottom: 10px;
    }
    &-paragraph {
      margin-bottom: 20px;
    }
  }
}
